<!-- <app-agent-navbar></app-agent-navbar> -->
<div class="center-container">

    <button (click)="redirectTo('claim')">Claim Resolve</button>
    <button (click)="redirectTo('add-customer')">Add Customer</button>
    <button (click)="redirectTo('customer-list')">View Customer List</button>
    <button (click)="redirectTo('view-payments')">View Payments</button>
    <button (click)="redirectTo('add-insurance-policy')">Add Insurance Policy</button>
    <button (click)="redirectTo('insurance-policy-list')">View Insurance Policy List</button>
    <button (click)="redirectTo('add-scheme-details')">Add Scheme Details</button>
    <button (click)="redirectTo('schemedetails-list')">View Scheme Details List</button>
  </div>
  