<!-- agent-list.component.html -->
<div class="customer-list-container">
    <h2>Customer List</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Employee ID</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>MobileNo</th>
          <th>Email</th>
          <th>Salary</th>
          <th>UserId</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{ employee.employeeId }}</td>
          <td>{{ employee.firstName }}</td>
          <td>{{ employee.lastName }}</td>
          <td>{{ employee.mobileNo }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.salary }}</td>
          <td>{{ employee.userId }}</td>
          <td>
            <button (click)="editEmployee(employee.EmployeeId)">Edit</button>
            <button (click)="deleteEmployee(employee.EmployeeId)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
