<!-- src/app/add-agent/add-agent.component.html -->

<div *ngIf="userRole=='Admin'">
    <app-admin-navbar></app-admin-navbar>
  </div>
  <div *ngIf="userRole=='Agent'">
    <app-agent-navbar></app-agent-navbar>
  </div>
<div class="add-insurance-plan-container">
    <h2>Add Insurance Plan</h2>
    <form [formGroup]="insurancePlanForm" (ngSubmit)="addInsurancePlan()">
        <label for="planName">Plan Name:</label>
        <input id="planName"  formControlName="planName" required>
  
        <button type="submit">Add Insurance Plan</button>
    </form>
  </div>

