<!-- agent-list.component.html -->
<div *ngIf="userRole=='Admin'">
  <app-admin-navbar></app-admin-navbar>
</div>
<div *ngIf="userRole=='Agent'">
  <app-agent-navbar></app-agent-navbar>
</div>
<div class="claim-list-container">
    <h2>Claim List</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Claim ID</th>
          <th>Claim Amount</th>
          <th>Bank Account Number</th>
          <th>Bank Ifsc Code</th>
          <th>Date</th>
          <th>Status</th>
          <th>Policy No</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let claim of claims">
          <td>{{ claim.claimId }}</td>
          <td>{{ claim.claimAmount }}</td>
          <td>{{ claim.bankAccountNumber }}</td>
          <td>{{ claim.bankIfscCode }}</td>
          <td>{{ claim.date }}</td>
          <td>{{ claim.status}}</td>
          <td>{{ claim.policyNo}}</td>
          <td>
            <button (click)="editClaim(claim.claimId)">Edit</button>
            <button (click)="deleteClaim(claim.claimId)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
