<!-- agent-list.component.html
<div *ngIf="userRole=='Admin'">
  <app-admin-navbar></app-admin-navbar>
</div>
<div *ngIf="userRole=='Agent'">
  <app-agent-navbar></app-agent-navbar>
</div>
<div class="agent-list-container">
    <h2>Agent List</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Agent ID</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Qualification</th>
          <th>Email</th>
          <th>MobileNo</th>
          <th>UserId</th>
          <th>CommissionEarned</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let agent of agents">
          <td>{{ agent.agentId }}</td>
          <td>{{ agent.firstName }}</td>
          <td>{{ agent.lastName }}</td>
          <td>{{agent.qualification}}</td>
          <td>{{ agent.email }}</td>
          <td>{{ agent.mobileNo }}</td>
          <td>{{ agent.userId }}</td>
          <td>{{ agent.commissionEarned }}</td>
          <td>
            <button (click)="editAgent(agent.agentId)">Edit</button>
            <button (click)="deleteAgent(agent.agentId)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
   -->


   <div *ngIf="userRole=='Admin'">
    <app-admin-navbar></app-admin-navbar>
  </div>
  <div *ngIf="userRole=='Agent'">
    <app-agent-navbar></app-agent-navbar>
  </div>
  <div class="agent-list-container">
      <h2>Agent List</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Agent ID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>MobileNo</th>
            <th>Email</th>
            <th>Commission Earned</th>
            <th>UserId</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let agent of agents">
            <td>{{ agent.agentId }}</td>
            <td>{{ agent.firstName }}</td>
            <td>{{ agent.lastName }}</td>
            <td>{{ agent.mobileNo }}</td>
            <td>{{ agent.email }}</td>
            <td>{{ agent.commissionEarned }}</td>
            <td>{{ agent.userId }}</td>
            <td>
              <button (click)="editAgent(agent.agentId)">Edit</button>
              <button (click)="deleteAgent(agent.agentId)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
  