
<div class="center-container">    
    <button (click)="addAgent()">Add Agent</button>
    <button (click)="agentList()">View Agent List</button>
    <button (click)="addEmployee()">Add Employee</button>
    <button (click)="employeeList()">View Employee List</button>
    <button (click)="addCustomer()">Add Customer</button>
    <button (click)="customerList()">View Customer List</button>
    <button (click)="addInsurancePlan()">Add Insurance Plan</button>
    <button (click)="insurancePlanList()">View Insurance Plan List</button>
    <button (click)="addInsuranceScheme()">Add Insurance Scheme</button>
    <button (click)="insuranceSchemeList()">View Insurance Scheme List</button>
    <button (click)="viewPayments()">View Payments</button>
    <button (click)="viewClaim()">View Claim</button>
    <button (click)="addSchemeDetails()">Add Scheme Details</button>
    <button (click)="viewSchemeDetails()">View Scheme Details</button>
    <button (click)="addInsurancePolicy()">Add Insurance Policy</button>
    <button (click)="viewPolicyList()">View Insurance Policy</button>
  </div>
  
  