<!-- <p>resolve-claim works!</p> -->
<!-- src/app/resolve-claim/resolve-claim.component.html -->

<div class="resolve-claim-container">
    <h2>Resolve Claim</h2>
    <div class="tabs">
      <button (click)="tabChanged('all')" [class.active]="activeTab === 'all'">All Claims</button>
      <button (click)="tabChanged('resolved')" [class.active]="activeTab === 'resolved'">Resolved Claims</button>
      <button (click)="tabChanged('pending')" [class.active]="activeTab === 'pending'">Pending Claims</button>
    </div>
  
    <ul>
      <li *ngFor="let claim of filteredClaims">
        <ng-container *ngIf="claim">
          <strong>Claim ID:</strong> {{ claim.ClaimId }}<br>
          <strong>Claim Amount:</strong> {{ claim.ClaimAmount }}<br>
          <strong>Bank Account Number:</strong> {{ claim.BankAccountNumber }}<br>
          <strong>Bank IFSC Code:</strong> {{ claim.BankIfscCode }}<br>
          <strong>Date:</strong> {{ claim.Date  }}<br>
          <strong>Status:</strong> {{ claim.Status }}<br>
          <strong>Policy Number:</strong> {{ claim.PolicyNo }}<br>
          <strong>Is Active:</strong> {{ claim.IsActive ? 'Yes' : 'No' }}<br>
          <button *ngIf="claim.Status !== 'Resolved'" (click)="updateClaimStatus(claim)">Mark Resolved</button>
          <!-- <button (click)="updateClaimStatus(claim.ClaimId, 'Pending')">Mark Pending</button> -->
        </ng-container>
      </li>
    </ul>
  </div>
  