<!-- update-agent.component.html
<h1>Update Agent</h1>
<select (change)="getSelectedValue($event)">
  <option *ngFor="let agent of agentData" [value]="agent.agentId">{{ agent.agentId }}</option>
</select>
<form [formGroup]="updateAgent" (ngSubmit)="updateAgentData(updateAgent.value)">
  <input type="hidden" formControlName="agentId" [(ngModel)]="agent[0].agentId">
  <input type="text" formControlName="firstName" [(ngModel)]="agent[0].firstName"><br>
  <input type="text" formControlName="lastName" [(ngModel)]="agent[0].lastName"><br>
  <input type="text" formControlName="qualification" [(ngModel)]="agent[0].qualification"><br>
  <input type="email" formControlName="email" [(ngModel)]="agent[0].email"><br>
  <input type="text" formControlName="mobileNo" [(ngModel)]="agent[0].mobileNo"><br>
  <input type="text" formControlName="commissionEarned" [(ngModel)]="agent[0].commissionEarned"><br><br>
  <button type="submit">Update</button>
</form> -->
