<app-employee-navbar></app-employee-navbar>
<div class="dashboard-background">
    <div class="dashboard-page">
        <!-- <h3>Welcome{{userName}}</h3> -->
        <div class="container mt-5">
            <!-- First row of icons -->
            <div class="row">
                <div class="col-md-3 text-center custom-column">
                    <a class="btn btn-light d-block" (click)="addAgent()">
                        <img src="assets/profile.png" alt="Add Agent Icon" class="icon-image add-agent-icon"><br><br>
                        <div class="icon-text">Add Agent</div>
                    </a>
                </div>
                <div class="col-md-3 text-center custom-column">
                    <a class="btn btn-light d-block" (click)="agentList()">
                        <img src="assets/view-agents.png" alt="View Agents Icon" class="icon-image view-agents-icon"><br><br>
                        <div class="icon-text">View Agents</div>
                    </a>
                </div>
                <div class="col-md-3 text-center custom-column">
                    <a class="btn btn-light d-block" (click)="addCustomer()">
                        <img src="assets/add-customer.png" alt="Add Customer Icon" class="icon-image add-customer-icon"><br><br>
                        <div class="icon-text">Add Customer</div>
                    </a>
                </div>
                <div class="col-md-3 text-center custom-column">
                    <a class="btn btn-light d-block" (click)="customerList()">
                        <img src="assets/view-customers.png" alt="View Customers Icon" class="icon-image view-customers-icon"><br><br>
                        <div class="icon-text">View Customers</div>
                    </a>
            </div>

            <!-- Second row of icons -->
            <div class="row mt-5">
                <div class="col-md-3 text-center custom-column">
                    <a class="btn btn-light d-block" (click)="addInsurancePlan()">
                        <img src="assets/add-insurance-plan.png" alt="Add Insurance Plan Icon" class="icon-image add-insurance-plan-icon"><br><br>
                        <div class="icon-text">Add Insurance Plan</div>
                    </a>
                </div>
                <div class="col-md-3 text-center custom-column">
                    <a class="btn btn-light d-block" (click)="insurancePlanList()">
                        <img src="assets/view-insurance-plans.png" alt="View Insurance Plans Icon" class="icon-image view-insurance-plans-icon"><br><br>
                        <div class="icon-text">View Insurance Plans</div>
                    </a>
                </div>
                <div class="col-md-3 text-center custom-column">
                    <a class="btn btn-light d-block" (click)="addInsuranceScheme()">
                        <img src="assets/add-insurance-scheme.png" alt="Add Insurance Scheme Icon" class="icon-image add-insurance-scheme-icon"><br><br>
                        <div class="icon-text">Add Insurance Scheme</div>
                    </a>
                </div>
                <div class="col-md-3 text-center custom-column">
                    <a class="btn btn-light d-block" (click)="insuranceSchemeList()">
                        <img src="assets/view-insurance-schemes.png" alt="View Insurance Schemes Icon" class="icon-image view-insurance-schemes-icon"><br><br>
                        <div class="icon-text">View Insurance Schemes</div>
                    </a>
                </div>
            </div>

            <!-- Third row of icons -->
            <div class="row mt-5">
                <div class="col-md-3 text-center custom-column">
                    <a class="btn btn-light d-block" (click)="addSchemeDetails()">
                        <img src="assets/add-scheme-details.png" alt="Add Scheme Details Icon" class="icon-image add-scheme-details-icon"><br><br><br>
                        <div class="icon-text">Add Scheme Details</div>
                    </a>
                </div>
                <div class="col-md-3 text-center custom-column">
                    <a class="btn btn-light d-block" (click)="viewSchemeDetails()">
                        <img src="assets/view-scheme-details.jpg" alt="View Scheme Details Icon" class="icon-image view-scheme-details-icon"><br><br><br>
                        <div class="icon-text">View Scheme Details</div>
                    </a>
                </div>
                <div class="col-md-3 text-center custom-column">
                    <a class="btn btn-light d-block" (click)="viewPayments()">
                        <img src="assets/view-payments.png" alt="View Insurance Schemes Icon" class="icon-image view-insurance-schemes-icon"><br><br><br>
                        <div class="icon-text">View Payments</div>
                    </a>
                </div>
                <div class="col-md-3 text-center custom-column">
                    <a class="btn btn-light d-block" (click)="viewClaim()">
                        <img src="assets/view-claims.png" alt="View Insurance Schemes Icon" class="icon-image view-insurance-schemes-icon"><br><br><br>
                        <div class="icon-text">View Claims</div>
                    </a>
                </div>
                <!-- Add more icons for the third row as needed -->
            </div>

            <!-- Fourth row of icons -->
            <!-- <div class="row mt-5">
                <div class="col-md-3 text-center custom-column">
                    <a class="btn btn-light d-block" (click)="addInsurancePolicy()">
                        <img src="assets/add-insurance-policy.png" alt="Add Insurance Policy" class="icon-image add-insurance-policy-icon"><br><br><br>
                        <div class="icon-text">Add Insurance Policy</div>
                    </a>
                </div>
                <div class="col-md-3 text-center custom-column">
                    <a class="btn btn-light d-block" (click)="viewPolicyList()">
                        <img src="assets/view-insurance-policies.png" alt="View Insurance Policies" class="icon-image view-insurance-policies-icon"><br><br>
                        <div class="icon-text">View Insurance Policies</div>
                    </a>
                </div>
                
            </div> -->

        </div>
    </div>
</div>
